body{
margin:0;
font-family:'Times New Roman';
background:white;
}

.container{
max-width:1200px;
margin:auto;
display:flex;
gap:40px;
padding:40px 0;
align-items:flex-start;
}

.tour-detail{
flex:2;
background:white;
padding:20px;
border-radius:10px;
}

.tour-image img{
width:100%;
border-radius:10px;
}

.tour-info p{
margin:5px 0;
}

.booking-form{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.booking-form h3{
text-align:center;
color:#3b5ccc;
}

.booking-form label{
display:block;
margin-top:10px;
font-weight:600;
}

.booking-form input{
width:100%;
padding:8px 2px;
margin-top:5px;
border-radius:6px;
border:1px solid #ccc;
}

.booking-form button{
width:100%;
padding:12px;
margin-top:15px;
background:#3b5ccc;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.booking-form button:hover{
background:#2742a5;
}


/* TABLE */

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table th, table td{
border:1px solid #ddd;
padding:8px;
}

table th{
background:#eee;
}

.support-box{
background:#f2f6ff;
padding:20px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;

color:#2d4ed8;
font-weight:600;
border:2px solid #2d4ed8;
}

.right-sidebar{
width:350px;
display:flex;
flex-direction:column;
gap:20px;

position:sticky;
top:20px;
}
.booking-form input[type="date"]{
cursor:pointer;
}
.error{
color:red;
font-size:13px;
margin-top:4px;
}