.top {
  background-color: #2f49dc;
  color: white;
  display: flex;
  justify-content: right;
  padding: 8px 0;
  font-size: 14px;
  gap: 30px;
}
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: white;
  font-size: 30px;
}
.logo img {
  height: 60px;
}
.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}
cart-wrapper {
  position: relative;
  cursor: pointer;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0 20px;
  transition: color 0.3s;
}
.menu li a:hover {
  color: #2f49dc;
}
