<link rel="stylesheet" href="frontend/css/footer.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>


<footer class="footer">

<div class="footer-inner">

    <div class="footer-subscribe">

        <div class="subscribe-text">
            <h2>Tham Gia Ngay Cùng Chúng Tôi Để<br>Không Bỏ Lỡ Cơ Hội</h2>
        </div>

        <div class="subscribe-form">
            <input type="email" placeholder="Nhập email của bạn...">
            <button>Tham gia ngay</button>
        </div>

    </div>

    <div class="footer-top">

        <div class="footer-menu">
            <a href="#">Trang Chủ</a>
            <a href="#">Tin Tức</a>
            <a href="#">Tour Du Lịch</a>
            <a href="#">Dịch Vụ</a>
            <a href="#">Về Chúng Tôi</a>
        </div>

        <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>

    </div>

    <hr>

    <div class="footer-bottom">

        <p>© N8. Welcome.</p>

        <div class="footer-logo">
            <img src="frontend/images/vietnam.jpg">
        </div>

        <div class="footer-links">
            <a href="#">Điều khoản dịch vụ</a>
            <a href="#">Chính sách bảo mật</a>
        </div>

    </div>

</div>
    
</footer>