<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<link rel="stylesheet" href="../css/header.css" />
<header>
  <div class="top">
    <span><i class="fas fa-phone"></i> 0123.456.789</span>
    <span><i class="fas fa-envelope"></i> contactHUMG@travel.com</span>
    <span><i class="fas fa-map-marker-alt"></i> Số 18, Phố Viên, Bắc Từ Liêm, Hà Nội</span>
  </div>

  <nav class="mainHeader">
    <div class="logo">
      <img src="../images/logoHUMG.jpg" alt="HUMG travel" />
    </div>

    <ul class="menu">
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Tour trong nước</a></li>
      <li><a href="#">Giới thiệu</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>

    <div class="header-icons">

      <span id="user-name" style="display:none"></span>

      <a href="../pages/login.html" id="login-btn" class="login-btn">
      <i class="fas fa-user"></i> Đăng nhập / Đăng ký</a>

      <a href="#" id="logout-btn" style="display:none">
      <i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
    </div>
    </div>
  </nav>
</header>
